@model AnsermaAirProyect.Models.Passenger

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <div class="content-table">
        @*Cabecera*@
        <div class="content-table_indice">VUELOS</div>
        <div class="content-table_header">
            <div class="content-table_header_tittle col3">
                @Html.DisplayNameFor(model => model.flight.departureStation)
            </div>
            <div class="content-table_header_tittle col3">
                @Html.DisplayNameFor(model => model.name)
            </div>
            <div class="content-table_header_tittle col3">
                @Html.DisplayNameFor(model => model.lastName)
            </div>
        </div>
        @*cuerpo*@
        <div class="content-table_Body">
            <div class="content-table_Body_row_fixed">
                <div class="content-table_Body_row_item col3">
                    @Html.DisplayFor(model => model.flight.departureStation)
                </div>
                <div class="content-table_Body_row_item col3">
                    @Html.DisplayFor(model => model.name)
                </div>
                <div class="content-table_Body_row_item col3">
                    @Html.DisplayFor(model => model.lastName)
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color, center">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</body>
</html>
