@model AnsermaAirProyect.Models.Passenger

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="detail-view">
        <h4>Passenger</h4>
        <hr />
        <div class="dl-horizontal">
            <div class="detail-view_title">
                @Html.DisplayNameFor(model => model.flight.departureStation)
            </div>

            <div>
                @Html.DisplayFor(model => model.flight.departureStation)
            </div>

            <div class="detail-view_title">
                @Html.DisplayNameFor(model => model.name)
            </div>

            <div>
                @Html.DisplayFor(model => model.name)
            </div>

            <div class="detail-view_title">
                @Html.DisplayNameFor(model => model.lastName)
            </div>

            <div>
                @Html.DisplayFor(model => model.lastName)
            </div>

        </div>
    </div>
    <p class="center">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>


