@model IEnumerable<AnsermaAirProyect.Models.Meal>

@{
    ViewBag.Title = "Home Page";
}
    <div class="content-table">
        @*Cabecera*@
        <div class="content-table_header">
            <div class="content-table_header_tittle">
                @Html.DisplayNameFor(model => model.Type)
            </div>
            <div class="content-table_header_tittle">
                @Html.DisplayNameFor(model => model.Amount)
            </div>
            <div class="content-table_header_tittle">
                @Html.DisplayNameFor(model => model.HasDrink)
            </div>
            <div class="content-table_header_tittle">
                @Html.DisplayNameFor(model => model.Quantity)
            </div>
            <div class="content-table_header_tittle">
                @Html.DisplayNameFor(model => model.Weight)
            </div>
            <div class="content-table_header_tittle">
                @Html.DisplayNameFor(model => model.IsVegan)
            </div>
        </div>
        @*cuerpo*@
      
    <div class="content-table_Body">
        @foreach (var item in Model)
        {
        <div class="content-table_Body_row">
            <div class="content-table_Body_row_item">
                @Html.DisplayFor(modelItem => item.Type)
            </div>
            <div class="content-table_Body_row_item">
                @Html.DisplayFor(modelItem => item.Amount)
            </div>
            <div class="content-table_Body_row_item">
                @Html.DisplayFor(modelItem => item.HasDrink)
            </div>
            <div class="content-table_Body_row_item">
                @Html.DisplayFor(modelItem => item.Quantity)
            </div>
            <div class="content-table_Body_row_item">
                @Html.DisplayFor(modelItem => item.Weight)
            </div>
            <div class="content-table_Body_row_item">
                @Html.DisplayFor(modelItem => item.IsVegan)
            </div>
            </div>
            }
        </div>
    </div>
          
